.contact-header {
    background: url(../images/contact-header-small.jpg) center bottom no-repeat;
    background-size: cover;
    min-height: 220px;
    color: var(--primary-key-color-0);
    display: flex;
    flex-direction: column;
    margin-top: 72px;
} 

.contact-header h1 {
    margin-top: 150px;
    margin-left: 50px;
}


.form-wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
    color: var(--primary-key-color-10);
} 

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

textarea {
    height: 65%;
    min-height: 100px;
} 

form {
    padding: 16px;
    background-color:var(--primary-key-color-99);
    border-radius: 20px;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    border-style: none;
    outline: none;
    border-radius: 5px;
    margin: 0.2rem 0rem 1rem 0rem;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--primary-key-color-10);
    resize: none;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
    border: 2px solid var(--primary-key-color-10);
}

.contact-main {
    display: flex;
    flex-direction: column;
}

.contact-info ul {
    padding:0px;
    margin-top: 0px;
}

.contact-info li {
    display: block;
}

.contact-info h2 {
    font-size: var(--headline-six);
    margin-bottom: 0px;
}  

.contact-info p {
    margin-top: 0px;
}  

.contact-form h2 {
    font-size: var(--headline-five);
    margin-bottom: 0.5rem;
} 

.contact-form .cta {
    text-align: center;
}
