.contact-header {
    background: url(../images/contact-header-small.jpg) center bottom no-repeat;
    background-size: cover;
    min-height: 13.8rem;
    color: var(--primary-key-color-0);
} 

.contact-header h1 {
    margin-left: 3.1rem;
}

.contact-main p {
    margin-bottom: 1.5rem;
}

.form-wrapper {
    text-align: left;
    color: var(--primary-key-color-10);
} 

.form-wrapper > * {
    flex: 1;
}

textarea {
    height: 65%;
    min-height: 6.3rem;
} 

form {
    padding: 1rem;
    background-color:var(--primary-key-color-99);
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    border-style: none;
    outline: none;
    border-radius: 0.3rem;
    margin: 0.2rem 0rem 1rem 0rem;
    padding: 0.6rem;
    width: 100%;
    border: 1px solid var(--primary-key-color-10);
    resize: none;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
    border: 2px solid var(--primary-key-color-10);
}

.contact-info ul {
    padding: 0rem;
}

.contact-info li {
    display: block;
} 

.contact-form h2 {
    margin-bottom: 0.5rem;
} 
