.homepage-header {
    background: url(../images/index-header-small-cropped.jpg) center center no-repeat;
    background-size: cover;
    min-height: 22.4rem;
    color: var(--secondary-key-color-10);
}

.homepage-header-content .cta {
    margin-top: 3.5rem;
}

.explore {
    background-color: var(--primary-key-color-99);
    color: var(--primary-key-color-10);
    padding: 0.5rem 0rem 1.5rem 0rem;
}

.explore-content h2 {
    margin-bottom: 0.5rem;
}  
