@media (min-width:600px) {
    .footer {
        background: url(../images/footer-medium.png) ;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: var(--primary-key-color-99);
        height: 387px;
    }

    .header {
        padding: 0px 0px 24px 0px;
    }
}


@media (min-width:800px) {
    /*global*/
    .header {
        padding: 50px 0px 100px 0px;
    }

    .logo {
        height: 180px;
    } 

    /*index*/
    .explore {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .explore-content {
        padding: 0px;
    }
}

@media (min-width:1200px) {
    .footer {
        background: url(../images/footer-large.png) ;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: var(--primary-key-color-99);
    }

    .explore {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}