@media (min-width:350px) {
    .spaces-images-box {
        height: 11rem;
    }
}

@media (min-width:400px) {
    .spaces-images-box {
        height: 12rem;
    }
}

@media (min-width:450px) {
    nav {
        width: 17.5rem;
        height: 25.5rem;
    }

    .spaces-images-box {
        height: 15rem;
    }
}

@media (min-width:500px) {
    .spaces-images-box {
        height: 16rem;
    }
}

@media (min-width:600px) {
    .header {
        padding: 0rem 0rem 1.5rem 0rem;
    }

    .footer {
        background: url(../images/footer-medium-yellow.png) ;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: var(--primary-key-color-99);
        height: 24.2rem;
    }
    .footer img {
        margin-top: 5.3rem;
    }

    .homepage-header {
        background: url(../images/index-header-medium.jpg) center center no-repeat;
        background-size: cover;
        min-height: 31.3rem;
    } 
    
    .homepage-header-content {
        margin-top: 7.5rem;
    }

    .homepage-header-content h1 {
        font-size: var(--headline-two);
    }

    /*contact page*/

    .contact-header {
        background: url(../images/contact-header-medium-sfw.jpg) center bottom no-repeat;
        background-size: cover;
        min-height: 25rem;
    } 

    .contact-header h1 {
        margin-top: 20rem;
        margin-left: 6.3rem;
    }

    /*exhibitions page*/

    .spaces-images-box {
        height: 20rem;
    }

}

@media (min-width:700px) {
    .spaces-images-box {
        height: 22rem;
    }
}


@media (min-width:800px) {
    nav {
        top: 8.1rem;
    }

    .header {
        padding: 2rem 0rem 4.4rem 0rem;
    }

    .logo-header {
        margin-left: 2.5rem;
    }

    .privacy-policy-main,
    .terms-and-conditions-main,
    .contribution-page-main,
    .exhibitions-main {
        margin-top: 15rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /*index*/

    .homepage-header {
        margin-top: 6.5rem;
    }

    .homepage-header-content {
        margin-top: 8.1rem;
    }

    .explore-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .explore-content {
        padding: 0px;
    }

    /*contact-page*/

    .contact-header {
        min-height: 32.8rem;
    }

    .contact-header h1 {
        margin-top: 28.1rem;
        font-size: var(--headline-two);
    }

    .contact-main {
        flex-direction: row;
        column-gap: 1rem;
    }

    .contact-main div {
        flex: 1;
    }

    /*exhibitions-page*/

    .news-section {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .spaces-container {
        grid-template-columns: 1fr 1fr;
        max-width: 70rem;
    }

    .exhibition-spaces {
        padding: 0.5rem 2.5rem 1.5rem 2.5rem;
        margin: 1.5rem -2.5rem 0rem -2.5rem;
    }

    .exhibitions-main h1 {
        font-size: var(--headline-three);
        line-height: 3.5rem;
    }

    .spaces-images-box {
        height: 12rem;
    }
}

@media (min-width:900px) {
    .spaces-images-box {
        height: 13rem;
    }
}

@media (min-width:1000px) {
    p,
    .privacy-policy-main ul,
    .terms-and-conditions-main ul {
        font-size: var(--body-one);
    }

    .explore h1 {
        font-size: var(--headline-three);
    }

    nav {
        display: block;
        position: static;
        margin-top: 0rem;
        margin-left: 1.5rem;
        width: 56.3rem;
        height: 5rem;
        padding: 0rem;
    }

    nav li {
        display: inline-block;
        padding: 1rem 0.5rem;
    }

    .homepage-header-content h1,
    .get-involved h1,
    .contact-header h1 {
        font-size: var(--headline-one);
    }

    .header label {
        display: none;
    }

    .privacy-policy-main,
    .terms-and-conditions-main,
    .exhibitions-main {
        margin-top: 17.5rem;
    }

    .privacy-policy-main h1,
    .terms-and-conditions-main h1,
    .exhibitions-main h1 {
        font-size: var(--headline-two);
        line-height: 4.5rem;
    }

    .news-section,
    .spaces-container,
    .get-involved {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    /*index*/

    .homepage-header {
        background: url(../images/index-header-large-sfw.jpg) center center no-repeat;
        background-size: cover;
        min-height: 50rem;
    }

    .homepage-header-content {
        margin-top: 11.3rem;
    }

    .homepage-header-content .cta {
        font-size: var(--button-font-desktop); 
        padding: 1rem 2rem;
    }

    .homepage-text {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /*contact*/

    .contact-main {
        margin-top: 6rem;
        margin-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .contact-header h1 {
        margin-left: 12.5rem;
    }

    /*exhibitions page*/

    .news-section {
        column-gap: 1.5rem;
        max-width: 70rem;
    } 

    .exhibition-spaces {
        margin-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .spaces-images-box {
        height: 9.5rem;
    }

    /*contribution-page*/

    .contribution-page-main {
        max-width: 59.4rem;
    }
}


@media (min-width:1100px) {
    .header {
        justify-content: start;
        padding: 2.5rem 0rem 6.9rem 0rem;
    }

    .logo {
        height: 11.3rem;
    }

    .footer img {
        margin-top: 4.4rem;
    }

    /*index-page*/

    .homepage-header-content {
        margin-top: 12.5rem;
    }

    /*contact-page*/

    .contact-header h1 {
        margin-left: 17.5rem;
    }

    /*exhibitions-page*/

    .spaces-images-box {
        height: 11rem;
    }
}

@media (min-width:1200px) {
    .contact-main,
    .spaces-container,
    .explore,
    .news-section {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .logo-header {
        margin-left: 5rem;
    }

    .footer {
        background: url(../images/footer-large-yellow.png) ;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: var(--primary-key-color-99);
    }

    /*index*/

    .explore-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*contact*/

    .contact-header {
        background: url(../images/contact-header-large-sfw.jpg) center bottom no-repeat;
        background-size: cover;
        min-height: 37.5rem;
    } 

    .contact-header h1 {
        margin-left: 18.8rem;
    }

    .contact-main .contact-info {
        flex: 5;
    }

    .contact-main .contact-form {
        flex: 7;
    }

    /*exhibitions-page*/

    .spaces-images-box {
        height: 11rem;
    }
}

@media (min-width:2000px) {
    .footer {
        background: url(../images/footer-xlarge-yellow.png) ;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: var(--primary-key-color-99);
    }
}