:root {
    --primary-key-color-10: #1F1C4E;
    --primary-key-color-99: #E7E4FF;
    --primary-key-color-0: #000;
    --secondary-key-color-10: #D7CF0D;
    --teritary-key-color-10: #8C0065;
    --heading-font: "Libre Franklin";
    --pharagraph-font: "Noto Sans";
}